:root {
  --color-light-gray: #F5F5F5;
  --font-color: #FAFAFA;
  --card-color: #DB4444;
  --green-color: #00FF66;
  --heading-color: #FAFAFA;
  --billing-star: #DB4444;
  --text-color: #adadad;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}


@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}


@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}


@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Inter/static/Inter_28pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Inter/static/Inter_28pt-SemiBold.ttf") format("truetype");
}



@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Inter/static/Inter_24pt-Bold.ttf") format("truetype");
}

* {
  scroll-behavior: smooth;
}

/*Floating Button*/

#goTopBtn,
.goTopBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;

  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;

  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#goTopBtn.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#goTopBtn:hover {
  transform: translateY(-4px);
}