:root {
  --color-light-gray: #F5F5F5;
  --font-color: #FAFAFA;
  --card-color: #DB4444;
  --green-color: #00FF66;
  --heading-color: #FAFAFA;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}


@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}


@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}


@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}



@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
